form {
  background-color: #eee;
  padding: 40px;
}

#close-form-btn {
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  border: none;
}

#close-form-btn:hover {
  background-color: #dedede;
}
