* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

#main-content {
  width: 80%;
  height: 100%;
  background-color: #f2f2f2;
  padding: 10px;
}

body,
p,
button,
input {
  font-family: "Raleway", sans-serif;
  font-family: "Fredoka", sans-serif;
  font-family: "Libre Baskerville", serif;
  font-family: "Inter", sans-serif;
  font-family: "Playwrite NZ", cursive;
  font-family: "Fredoka", sans-serif;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Playwrite NZ", cursive;
  font-family: "Raleway", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Libre Baskerville", serif;
  font-family: "Fredoka", sans-serif;
}
h2 {
  font-weight: 500;
}

nav {
  width: 100%;
  background-color: #1ba136;
  background-color: #341800;
}

nav h1 p {
  font-family: "Fredoka", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

#nav-content {
  width: 80%;
  padding: 15px 0px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vegan-text {
  color: #65c349;
  margin-right: 5px;
}

.grocery-list-text {
  color: #ff8119;
}

#logo {
  width: 55px;
  margin-right: 8px;
}

.nav-menu-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.nav-menu-container li {
  padding: 15px 20px;
  font-weight: 500;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

.nav-menu-container li a {
  color: #fff;
}

.nav-menu-container li:hover {
  background-color: #316c1f;
}

.nav-menu-container li i {
  font-size: 20px;
  margin-right: 5px;
}

/* General Styles */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-10 {
  gap: 10px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-10 {
  gap: 10px;
}

.search-container {
  padding: 20px;
  padding-bottom: 0px;
}

.search-container input {
  margin: 0 8px;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 18px;
  width: 100%;
  max-width: 500px;
  border: 1px solid #8b8b8b;
}

.fa-search {
  font-size: 27px;
}

.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.product-card {
  flex: 1;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  border-radius: 5px;
  background-color: #fff;
  gap: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-image {
  width: 150px;
  /* border: 1px solid #dcdcdc; */
}

.product-quantity {
  border-radius: 5px;
  font-size: 16px;
  width: 50px;
  text-align: center;
  border: 1px solid #8b8b8b;
  padding: 5px;
}

.add-btn {
  padding: 7px 12px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #8b8b8b;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.add-to-list {
  background-color: #0d881f;
  color: #fff;
}

.add-to-list:hover {
  background-color: rgb(19, 112, 38);
}

.add-to-list:active {
  transform: translateY(1px);
}

.remove-from-list {
  background-color: #d51f0f;
  color: #fff;
}

.remove-from-list:hover {
  background-color: #cd1c0c;
  color: #fff;
}

.remove-from-list:active {
  transform: translateY(1px);
}

.info-btn {
  padding: 7px 12px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #8b8b8b;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #eaeaea;
  border: 1px solid #a8a8a8;
}
.info-btn a {
  color: #202020;
}

.info-btn:hover {
  background-color: #dfdfdf;
}

.info-btn:active {
  transform: translateY(1px);
}

aside {
  width: 100%;
  min-width: 200px;
  border: 1px solid rgb(176, 176, 176);
  margin: 20px 0;
  border-radius: 5px;
  background-color: rgb(220, 220, 220);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-by {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-left: 1px solid rgb(176, 176, 176);
  padding: 10px 30px;
}

.filter-by {
  font-weight: 600;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 30px;
}

form,
input,
label,
select {
  font-family: "Inter", sans-serif;
}

footer {
  position: relative;
  bottom: 0;
  background-color: #707070;
  height: 50px;
  width: 100vw;
  color: #fff;
}
